header {
  position: relative;
  width: 100%;
}

header ul {
  margin: 0;
  padding: 8px;
}

header li {
  display: inline;
  margin: 0px 8px;
}

header li:first-of-type {
  margin-left: 0;
}

header li:last-of-type {
  margin-right: 0;
}

header li a, header li a:visited, header li a:hover, header li a:active {
  color: rgba(253, 253, 253, 1);
  text-decoration: none;
}
