.virus-data h2 {
  margin-top: 16px;
  margin-bottom: 0;
}

.virus-data p {
  margin-bottom: 0px;
}

.virus-data p.info {
  margin: -8px 0 8px 0;
  opacity: 0.33;
}

.virus-data + p {
  margin-bottom: 0;
}
