header {
  position: relative;
  width: 100%;
}

header ul {
  margin: 0;
  padding: 8px;
}

header li {
  display: inline;
  margin: 0px 8px;
}

header li:first-of-type {
  margin-left: 0;
}

header li:last-of-type {
  margin-right: 0;
}
